
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
} */

.sector-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background: #353535; */
    /* background: red; */
    background:black;
    border-style:solid;
    /* border-color:darkolivegreen; */

border-color: #0c7b46;


    font-size: 0.8rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
     height: 40px;
    /*width: 40px; */
    border-radius: 3px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


 }
  
.sector-card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

 h1 { font-family: "Allerta Stencil"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Allerta Stencil"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Allerta Stencil"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Allerta Stencil"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Allerta Stencil"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

 .stretchy {
    flex-grow: 1; /* grow wider by any factor */
    flex-shrink: 1; /* grow smaller by any factor */
    flex-basis: auto; /* auto-compute initial width */
    /* shorthand for above styles */
    flex: 1 1 auto;
    flex:1;
  }

  /* ICONS */
  .submarine{
	background-image: url('/../assets/redsub.png'); /*url('example.jpg'); */
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
}

.blinking4{
	animation:blinkingText 1s 3;
}
@keyframes blinkingText{
	0%{		color: #000; 	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
    100%{	color: #000; width: 0px;}
    

}