.container {
    padding: 50px;
  }
  .battleship-tile {
    color: black;
  }
  .win {
    background-color: #23d160;
    color: #fff;
  }
  .fail {
    background-color: #ff3860;
    color: #fff;
  }
  .content table td, .content table th {
      border: 1px solid #dbdbdb;
      padding: 0.5em 0.75em;
      vertical-align: middle;
      height: 50px;
      text-align: center;
  }
  .content table {
    width: 80%;
    margin: 0 auto;
  }
  .content table tr:hover {
      background-color: transparent;
  }
  .battleship-tile:hover {
    cursor: pointer;
  }
  h1 { font-family: "Allerta Stencil"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Allerta Stencil"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Allerta Stencil"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Allerta Stencil"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Allerta Stencil"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }


