<table style="color: goldenrod">

    <tr>
      <td>

      </td>
      <td>
        <h4>Searching for red october</h4>      
        <br>

      </td>
      <td></td>
    </tr>


    <tr>
      <td style="width: 10px;"></td>
      <td style="padding-bottom: 2rem;">
        <div class="razar">
          <div class="ringbase ring1"></div>
          <div class="ringbase ring2"></div>
          <div class="pulse"></div>
          <div class="pointer">
            <div></div>
          </div>
          <div class="dot pos1."></div>
          <div class="dot pos2"></div>
        </div>
        
      </td>
      <td></td>
    </tr>
    <tr >

        <td style="width: 10px; "></td>
               <td class="small text-muted_mod pr-2" scope="row">Status:</td>

      
      
        <td>
            <div class="blink_me">
                {{status}}
              </div>
        </td>
    </tr>
    <tr>
      <td style="width: 10px;"></td>
      <td class="small text-muted_mod pr-2" scope="row">Sector Target:</td>
      <td>none</td>
    </tr>
    <tr>
      <td style="width: 10px;"></td>
      <td class="small text-muted_mod pr-2" scope="row">Enenemy Heath:</td>
      <td>100%</td>
    </tr>
    <tr>
      <td style="width: 10px;"></td>
      <td class="small text-muted_mod pr-2" scope="row">Enemy Distance:</td>
      <td>300 meter</td>
    </tr>
  </table>